.container {
    padding: 10px;
    width: 90%;
    height: auto;
    border: 0.2px solid black;
    border-radius: 12px;
}

.input1 {
    border: 0.2px solid black;
    padding: 5px;
    width: 85%;
    height: 30px;
}

@media all and(max-width:300px) {
    .container {
        width: 100%;
        height: auto;
        border: 0.2px solid black;
        padding: 35px;
    }

}